@{
    ViewBag.Title = "About";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <div class="About">
        <h2>About The Site</h2>
        <p>
            This site is a forum for gamers to come together to help one another answer questions,
            solve problems, write up walkthroughs, share screenshots, and anything else they may want to
            share. <br />
            There is a thread for anything you may need! (And if not just contact the site admin via the email on the
            contact page)
        </p>
    </div>
</body>