@{
    ViewBag.Title = "Contact";
}

<head>

</head>
<body>
    <div class="Home">
        <h2>Contact Information</h2>
        <p>
            Questions? <br />
            Comments? <br />
            Concerns? <br />
            Just email our admin and we will get back to you asap!
        </p>
        <address>
            <strong>Admin Support:</strong>   <a href="mailto:email@gmail.com">email@gmail.com</a><br />
        </address>
    </div>
</body>