@using Capstone.Models
@model RolePO
@{
    ViewBag.Title = "DeleteRole";

    int userRole = 0;
    if (Session["RoleID"] != null)
    {
        int.TryParse(Session["RoleID"].ToString(), out userRole);
    }
}

@if (Session["Username"] != null && userRole == 1)
{
    <div>
        <h2>Delete Role</h2>
        @using (Html.BeginForm("DeleteRole", "Role", FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.HiddenFor(model => Model.RoleId)
                </div>
                <input type="submit" value="Submit" />
            </div>
        }
    </div>
}
else
{
    @Html.Action("Index", "User", null)
}
